.form__newTaskContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0 auto;
}

.form__newTask {
    flex-grow: 100;
}

.form__newTaskButton {
    flex-grow: 1;
}

.form__taskContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

@media (max-width: 400px) {
    .form__taskContainer {
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.form__doneButton {
    flex-shrink: 0;
}

@media (max-width: 400px) {
    .form__doneButton {
        order: 1;
    }
}

.form__task {
    flex-grow: 1;
}

@media (max-width: 400px) {
    .form__task {
        flex-basis: 100%
    }
}

.form__removeButton {
    flex-shrink: 0;
    order: 1;
}