.form__newTaskContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
}

.form__newTask {
    flex-grow: 100;
}

.form__newTaskButton {
    flex-grow: 1;
}

.form__taskContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.form__doneButton {
    flex-shrink: 0;
}

.form__task {
    flex-grow: 1;
}

.form__removeButton {
    flex-shrink: 0;
}