.header__button {
    border: solid 1px rgb(255, 255, 255);
    color: hsl(180 100% 25%);
    font-size: 16px;
    background-color: white;
    margin: 0 5px 0;
    padding: 0;
}

@media (max-width: 767px) {
    .header__button {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }
}

.header__button:hover {
    color: hsl(180 100% 30%);
}

.header__button:active {
    color: hsl(180 100% 35%);
}

.header__button:disabled {
    color: #ddd;
}

.tasks {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.task__item--hide {
    display: none;
}

.tasks__content {
    word-break: break-word;
    margin: 0;
}

@media (max-width: 375px) {
    .tasks__content {
        grid-row: 1 / 2;
        grid-column: span 4;
    }
}

.tasks__button {
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    padding: 0;
    font-size: 20px;
}

@media (max-width: 375px) {
    .tasks__button {
        grid-row: 2 / 3;
        grid-column: span 2;
    }
}

.tasks__button--toggleDone {
    background-color: hsl(120 61% 34%);
}

.tasks__button--toggleDone:hover {
    background-color: hsl(120 61% 39%);
}

.tasks__button--toggleDone:active {
    background-color: hsl(120 61% 44%);
}

.tasks__content--toggleDone {
    text-decoration: line-through;
}

.tasks__button--remove {
    background-color: hsl(348 83% 47%);
}

.tasks__button--remove:hover {
    background-color: hsl(348 83% 52%);
}

.tasks__button--remove:active {
    background-color: hsl(348 83% 57%);
}